*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 1000px;
    background-color: yellowgreen;
    margin: auto;
}

.titolo{
    text-align: center;
    color: #E53170;
}

.paragrafo{
    text-align: center;
}

/*
.box{
    width: 1000px;
    background-color: red;
}
*/

.col-card{
    height: 300px;
    width: calc(33% - 60px);
    background-color: red;
    float: left;
    border: 1px solid black;
    margin: 50px 30px;
    
}