/*--- RESET ---*/

*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*--- BODY ---*/

body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 1000px;
    background-color: yellowgreen;
    margin: auto;
}

/* TIOTLO */

.titolo{
    text-align: center;
    color: #E53170;
}

.paragrafo{
    text-align: center;
}

/* LAYOUT E CARD */

.col-card{
    width: calc(33% - 60px);
    background-color: black;
    float: left;
    margin: 35px 30px;
}

.img-card{
    width: 33%;
    display: block;
    float: left;
}

.info-card{
    width: 66%;
    float: left;
    padding: 10px 10px;
}

h3, h5, a{
    margin: 3px;
    text-align: left;
    color: white;
}

small{
    color: #20A9E5;
}

a{text-decoration: none;}